<div class="navbar bg-base-100">
    <div class="navbar-start">
        <div class="dropdowon">
            <a href="" class="btn btn-ghost text-xl">
                <div class="border-1 bg-secondary logo rounded-xl p-2" routerlink="/">E-antsena</div>
            </a>
        </div>
    </div>
    <div class="navbar-center flex">
        <div class="menu menu-sm sm:menu-lg menu-horizontal px-1">
            <li><a href="">Home</a></li>
            <li>
                <details #productsMenu>
                    <summary>Products</summary>
                    <ul class="z-30">
                        <li><a href="">All</a></li>
                    </ul>
                </details>
            </li>
            <li>
                <details #adminMenu>
                    <summary>Admin</summary>
                    <ul class="z-30">
                        <li><a href="">All</a></li>
                    </ul>
                </details>
            </li>
        </div>
    </div>
    <div class="navbar-end pe-4 flex align-items-center">
        <div class="dropdown dropdown-end pe-4" routerLink="/cart">
            <div tabindex="0" role="button">
                @if (this.isConnected() && connectedUserQuery?.data()?.imageUrl!== null) {
                    <img src="{{connectedUserQuery?.data()?.imageUrl}}" alt="user-avatar"
                    class="avatar-unknown rounded-full">
                    <span>{{connectedUserQuery?.data()?.firstname}}</span>
                } @else {
                    <fa-icon [icon]="['fas', 'user']" class="menu-icon"></fa-icon>
                }
                
            </div>
 
                <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow">
                    <li>
                        <button class="link" (click)="closeDropDownMenu()">My orders</button>
                    </li>
                    <li>
                        <button class="link" (click)="logout()">Logout</button>
                    </li>
                </ul>

                <ul class="dropdown-content menu menu-lg bg-base-100 rounded-box z-10 w-52 p-2 shadow">
                    <li>
                        <button class="link" (click)="login()">Login</button>
                    </li>
                </ul>
            
        </div>
        <div class="dropdown dropdown-end me-2" routerLink="/cart">
            <div tabindex="0" role="button">
                <fa-icon [icon]="['fas', 'cart-shopping']" class="menu-icon"></fa-icon>
            </div>
        </div>
    </div>
</div>